.containerlayout {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100vh;
}

.navbar {
    background-color: black;
}

.body {
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}